.gantt-container {
  height: calc(100vh - 50px - 200px);
}
.gantt_scale_line{
  background-color: #f04ce0;

}
.gantt_task .gantt_task_scale .gantt_scale_cell {
  color: #fff;
  font-weight: 800;
  font-size: 16px;
}